.hero {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    min-height: 85vh;
    align-items: center;

    @include laptop13 {
      grid-template-columns: 1fr 1fr;
    }
  }

  &-text {
    position: relative;
    text-align: center;

    @include laptop13 {
      max-width: 90%;
      text-align: left;
    }

    &::before {
      @extend .pseudo;
      width: 8.875rem;
      height: 9.5625rem;
      background-image: url("imgs/deco3.png");
      background-size: contain;
      top: -3.875rem;
      left: -3rem;
      z-index: -1;
    }

    &::after {
      @extend .pseudo;
      width: 11.5rem;
      height: 11.3125rem;
      background-image: url("imgs/deco2.png");
      background-size: contain;
      bottom: -4.1875rem;
      right: 3.625rem;
      z-index: -1;
    }
  }

  h1 {
    font-size: 4rem;
    font-weight: 300;
    letter-spacing: 0.18rem;
    text-transform: uppercase;
    margin-bottom: 1.3125rem;
  }

  .lead {
    color: $yellow;
    font-size: 2rem;
    letter-spacing: 0.09rem;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 1.3125rem;
  }

  .text {
    margin-bottom: 1.3125rem;
    color: $grey-light;
    font-weight: 300;
    line-height: 2rem;
    letter-spacing: 0.045rem;
  }

  .cta {
    display: flex;
    justify-content: center;

    gap: 1.5rem;

    @include laptop13 {
      justify-content: flex-start;
    }
  }
}
